<!-- <div>{{ testAsync$ | myAsync }}</div> -->
<ng-container *ngIf="carsState$ | async as carsState">
  <p-table
    [value]="carsState.cars"
    [lazy]="true"
    [rows]="10"
    [paginator]="true"
    [totalRecords]="carsState.totalCount"
    [loading]="carsState.carsLoading"
    (onLazyLoad)="getCars($event)"
    [lazyLoadOnInit]="false"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Vin</th>
        <th>Brand</th>
        <th>Year</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{ car.vin }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.color }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No cars found.</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
